/* reset css */
* {
    box-sizing: border-box;
}

.night{
    background-color: rgb(30, 30, 30);
}
#containeragain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    flex-direction: column;
}
#container{
    background: black;
    width: 25%;
    margin: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 0;
}
#container input{
    margin-top: 15px;
    text-align: center;
    width: 65%;
    background-color: #464646;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    appearance: textfield;
}
#container input:focus{
    border: 1px solid white;
    outline: none;
}
#button{
    border: none;
    font-size: 20px;
    width: 65%;
    background-color: #464646;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 0;
}
.answer{
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0;
}